In [1]:
%load_ext autoreload
%autoreload 2

C:\Users\alex-\Mestrado\Test_Results\EddyPro_results_try02

C:\Users\alex-\Mestrado\Test_Results\EddyPro_results_try02\p01_01_r04\eddypro_binned_cospectra

In [2]:
import view_files02

In [58]:
a = view_files02.Viewer()

Tab(children=(VBox(children=(HBox(children=(Text(value='', layout=Layout(width='90%'), placeholder='Insert Fol…

In [25]:
x_scale_01_04 = bq.OrdinalScale(domain=[(dt.datetime(2000,1,1) + dt.timedelta(minutes=i*30)).strftime('%H:%M') for i in range(48)])
y_scale_01_05 = bq.LinearScale()

In [27]:
x_axis_01_04 = bq.Axis(scale=x_scale_01_04, label='x',tick_rotate=270)
y_axis_01_05 = bq.Axis(scale=y_scale_01_05, label='y', orientation='vertical')

In [29]:
fig_01_04 = bq.Figure(marks=[], axes=[x_axis_01_04, y_axis_01_05], animation_duration=500)

In [30]:
bar_01 = bq.Bars(scales={'x':x_scale_01_04, 'y':y_scale_01_05})
fig_01_04.marks = [bar_01]

In [33]:
x_axis_01_04.label = 'teste'
bar_01.x = ['00:00','01:00','03:30','16:30']
bar_01.y = [1,2,3]

In [42]:
print(bar_01)

Bars(colors=['steelblue'], interactions={'hover': 'tooltip'}, scales={'x': OrdinalScale(domain=['00:00', '00:30', '01:00', '01:30', '02:00', '02:30', '03:00', '03:30', '04:00', '04:30', '05:00', '05:30', '06:00', '06:30', '07:00', '07:30', '08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30', '21:00', '21:30', '22:00', '22:30', '23:00', '23:30']), 'y': LinearScale()}, scales_metadata={'x': {'orientation': 'horizontal', 'dimension': 'x'}, 'y': {'orientation': 'vertical', 'dimension': 'y'}, 'color': {'dimension': 'color'}}, tooltip_style={'opacity': 0.9}, x=array(['00:00', '01:00', '03:30', '16:30'], dtype='<U5'), y=array([1, 2, 3]))

In [32]:
display(fig_01_04)

Figure(animation_duration=500, axes=[Axis(label='teste', scale=OrdinalScale(domain=['00:00', '00:30', '01:00',…

In [382]:
a = [0, 1,2,3]

In [383]:
min(a)

0

In [26]:
import bqplot as bq
import numpy as np

In [27]:
import datetime as dt

In [28]:
import pandas as pd

In [186]:
date01 = [dt.datetime(2018,1,1) + dt.timedelta(minutes=i*30) for i in range(100)]
time01 = [date01[i].time() for i in range(len(date01))]
s = np.random.uniform(size=len(date01))

In [187]:
df = pd.DataFrame({'date01':date01,'time01': time01, 's': s})

In [188]:
df.head()

               date01    time01         s
0 2018-01-01 00:00:00  00:00:00  0.073869
1 2018-01-01 00:30:00  00:30:00  0.141022
2 2018-01-01 01:00:00  01:00:00  0.815322
3 2018-01-01 01:30:00  01:30:00  0.803293
4 2018-01-01 02:00:00  02:00:00  0.560331

In [189]:
df.dtypes

date01    datetime64[ns]
time01            object
s                float64
dtype: object

In [190]:
x = '00:00'
t = dt.datetime.strptime(x,'%H:%M')

In [191]:
t.time()

datetime.time(0, 0)

In [192]:
df.loc[df['date01'].dt.time == t.time(), 's']

0     0.073869
48    0.993403
96    0.862594
Name: s, dtype: float64

In [193]:
# list(df['time01'].dt.strftime('%H:%M'))
list(df['date01'].dt.strftime('%H:%M').unique())

['00:00',
 '00:30',
 '01:00',
 '01:30',
 '02:00',
 '02:30',
 '03:00',
 '03:30',
 '04:00',
 '04:30',
 '05:00',
 '05:30',
 '06:00',
 '06:30',
 '07:00',
 '07:30',
 '08:00',
 '08:30',
 '09:00',
 '09:30',
 '10:00',
 '10:30',
 '11:00',
 '11:30',
 '12:00',
 '12:30',
 '13:00',
 '13:30',
 '14:00',
 '14:30',
 '15:00',
 '15:30',
 '16:00',
 '16:30',
 '17:00',
 '17:30',
 '18:00',
 '18:30',
 '19:00',
 '19:30',
 '20:00',
 '20:30',
 '21:00',
 '21:30',
 '22:00',
 '22:30',
 '23:00',
 '23:30']

In [194]:
# x_scale = bq.LinearScale()
x_scale = bq.OrdinalScale(domain=[(dt.datetime(2000,1,1) + dt.timedelta(minutes=i*30)).strftime('%H:%M') for i in range(48)])
# x_scale = bq.DateScale()
y_scale = bq.LinearScale()

x_axis = bq.Axis(scale=x_scale, label='x',tick_rotate=270)
y_axis = bq.Axis(scale=y_scale, label='y', orientation='vertical')
fig01 = bq.Figure(marks=[], axes=[x_axis, y_axis], animation_duration=500)

In [195]:
bar01 = bq.Bars(scales={'x':x_scale, 'y':y_scale})
fig01.marks = [bar01]

In [196]:
# bar01.x = ['00:00','01:00','03:30','16:30']

bar01.x = list(df['date01'].dt.strftime('%H:%M').unique())
bar01.y = [1,2,3,50]

# bar01.x = list(set(df['time'].to_list()))
# bar01.y = df.groupby(by='time')['s'].count().to_list()

In [197]:
(df.groupby(by='time01')['s'].count().index[0]).strftime('%H:%M')

'00:00'

In [198]:
df.groupby(by=[df.date01.dt.hour, df.date01.dt.minute])['s'].count().index[0]

(0, 0)

In [199]:
df.groupby(by=[df.date01.dt.hour, df.date01.dt.minute])['s'].count().to_list()

[3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2]

In [84]:
df.groupby(by=df['date01'].dt.time)['s'].count().index

Index([00:00:00, 00:30:00, 01:00:00, 01:30:00, 02:00:00, 02:30:00, 03:00:00,
       03:30:00, 04:00:00, 04:30:00, 05:00:00, 05:30:00, 06:00:00, 06:30:00,
       07:00:00, 07:30:00, 08:00:00, 08:30:00, 09:00:00, 09:30:00, 10:00:00,
       10:30:00, 11:00:00, 11:30:00, 12:00:00, 12:30:00, 13:00:00, 13:30:00,
       14:00:00, 14:30:00, 15:00:00, 15:30:00, 16:00:00, 16:30:00, 17:00:00,
       17:30:00, 18:00:00, 18:30:00, 19:00:00, 19:30:00, 20:00:00, 20:30:00,
       21:00:00, 21:30:00, 22:00:00, 22:30:00, 23:00:00, 23:30:00],
      dtype='object', name='date01')

In [136]:
list(df['date01'].dt.strftime('%H:%M').unique())

['00:00',
 '00:30',
 '01:00',
 '01:30',
 '02:00',
 '02:30',
 '03:00',
 '03:30',
 '04:00',
 '04:30',
 '05:00',
 '05:30',
 '06:00',
 '06:30',
 '07:00',
 '07:30',
 '08:00',
 '08:30',
 '09:00',
 '09:30',
 '10:00',
 '10:30',
 '11:00',
 '11:30',
 '12:00',
 '12:30',
 '13:00',
 '13:30',
 '14:00',
 '14:30',
 '15:00',
 '15:30',
 '16:00',
 '16:30',
 '17:00',
 '17:30',
 '18:00',
 '18:30',
 '19:00',
 '19:30',
 '20:00',
 '20:30',
 '21:00',
 '21:30',
 '22:00',
 '22:30',
 '23:00',
 '23:30']

In [155]:
df.groupby(by=df['date01'].dt.time).count()

          date01  time01  s
date01
00:00:00       3       3  3
00:30:00       3       3  3
01:00:00       3       3  3
01:30:00       3       3  3
02:00:00       2       2  2
02:30:00       2       2  2
03:00:00       2       2  2
03:30:00       2       2  2
04:00:00       2       2  2
04:30:00       2       2  2
05:00:00       2       2  2
05:30:00       2       2  2
06:00:00       2       2  2
06:30:00       2       2  2
07:00:00       2       2  2
07:30:00       2       2  2
08:00:00       2       2  2
08:30:00       2       2  2
09:00:00       2       2  2
09:30:00       2       2  2
10:00:00       2       2  2
10:30:00       2       2  2
11:00:00       2       2  2
11:30:00       2       2  2
12:00:00       2       2  2
12:30:00       2       2  2
13:00:00       2       2  2
13:30:00       2       2  2
14:00:00       2       2  2
14:30:00       2       2  2
15:00:00       2       2  2
15:30:00       2       2  2
16:00:00       2       2  2
16:30:00       2       2  2
17:00:00       2       2  2
17:30:00       2       2  2
18:00:00       2       2  2
18:30:00       2       2  2
19:00:00       2       2  2
19:30:00       2       2  2
20:00:00       2       2  2
20:30:00       2       2  2
21:00:00       2       2  2
21:30:00       2       2  2
22:00:00       2       2  2
22:30:00       2       2  2
23:00:00       2       2  2
23:30:00       2       2  2

In [200]:
df.loc[df['s']>0.5].count()

date01    55
time01    55
s         55
dtype: int64

In [201]:
# Para bar.x
[i.strftime('%H:%M') for i in df.groupby(by=df['date01'].dt.time)['s'].count().index.to_list()]

['00:00',
 '00:30',
 '01:00',
 '01:30',
 '02:00',
 '02:30',
 '03:00',
 '03:30',
 '04:00',
 '04:30',
 '05:00',
 '05:30',
 '06:00',
 '06:30',
 '07:00',
 '07:30',
 '08:00',
 '08:30',
 '09:00',
 '09:30',
 '10:00',
 '10:30',
 '11:00',
 '11:30',
 '12:00',
 '12:30',
 '13:00',
 '13:30',
 '14:00',
 '14:30',
 '15:00',
 '15:30',
 '16:00',
 '16:30',
 '17:00',
 '17:30',
 '18:00',
 '18:30',
 '19:00',
 '19:30',
 '20:00',
 '20:30',
 '21:00',
 '21:30',
 '22:00',
 '22:30',
 '23:00',
 '23:30']

In [212]:
# Para bar.y
df.groupby(by=df['date01'].dt.time)['s'].count().to_list()

[3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2]

In [222]:
# Para bar.x com .loc
[i.strftime('%H:%M') for i in df.loc[df['s']>0.5].groupby(by=df['date01'].dt.time)['s'].count().index.to_list()]

['00:00',
 '00:30',
 '01:00',
 '01:30',
 '02:00',
 '02:30',
 '03:30',
 '04:00',
 '04:30',
 '05:00',
 '05:30',
 '06:00',
 '06:30',
 '07:00',
 '07:30',
 '09:00',
 '10:00',
 '10:30',
 '11:00',
 '12:00',
 '12:30',
 '13:30',
 '14:00',
 '14:30',
 '15:00',
 '16:00',
 '16:30',
 '17:00',
 '18:00',
 '19:00',
 '19:30',
 '20:00',
 '20:30',
 '21:00',
 '21:30',
 '22:00',
 '22:30',
 '23:00',
 '23:30']

In [220]:
# Para bar.y com .loc
# df.groupby(by=df['date01'].dt.time).apply(lambda x: x['s']>0.5)
# df.groupby(by=df['date01'].dt.time).agg()
df.loc[df['s']>0.5].groupby(by=df['date01'].dt.time)['s'].count().to_list()

[2,
 2,
 3,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 2]

In [159]:
bar01.x = [i.strftime('%H:%M') for i in df.groupby(by=df['date01'].dt.time)['s'].count().index.to_list()]
bar01.y = df.groupby(by=df['date01'].dt.time)['s'].count().to_list()

In [135]:
[dt.time(hour=df.groupby(by=[df.date01.dt.hour, df.date01.dt.minute])['s'].count().index[i][0], minute=df.groupby(by=[df.date01.dt.hour, df.date01.dt.minute])['s'].count().index[i][1]).strftime('%H:%M') for i in range(len(df.groupby(by=[df.date01.dt.hour, df.date01.dt.minute])['s'].count().to_list()))]

['00:00',
 '00:30',
 '01:00',
 '01:30',
 '02:00',
 '02:30',
 '03:00',
 '03:30',
 '04:00',
 '04:30',
 '05:00',
 '05:30',
 '06:00',
 '06:30',
 '07:00',
 '07:30',
 '08:00',
 '08:30',
 '09:00',
 '09:30',
 '10:00',
 '10:30',
 '11:00',
 '11:30',
 '12:00',
 '12:30',
 '13:00',
 '13:30',
 '14:00',
 '14:30',
 '15:00',
 '15:30',
 '16:00',
 '16:30',
 '17:00',
 '17:30',
 '18:00',
 '18:30',
 '19:00',
 '19:30',
 '20:00',
 '20:30',
 '21:00',
 '21:30',
 '22:00',
 '22:30',
 '23:00',
 '23:30']

In [41]:
date00 = dt.time(hour=df.groupby(by=[df.date01.dt.hour, df.date01.dt.minute])['s'].count().index[0][0], minute=df.groupby(by=[df.date01.dt.hour, df.date01.dt.minute])['s'].count().index[0][1])

In [42]:
date00.strftime('%H:%M')

'00:00'

In [60]:
bar01.x = [dt.time(hour=df.groupby(by=[df.date01.dt.hour, df.date01.dt.minute])['s'].count().index[i][0], minute=df.groupby(by=[df.date01.dt.hour, df.date01.dt.minute])['s'].count().index[i][1]).strftime('%H:%M') for i in range(len(df.groupby(by=[df.date01.dt.hour, df.date01.dt.minute])['s'].count().to_list()))]
bar01.y = df.groupby(by=[df.date01.dt.hour, df.date01.dt.minute])['s'].count().to_list()

In [44]:
df.groupby(by='time')['s'].count().to_list()

[3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2]

In [117]:
display(fig01)

Figure(animation_duration=500, axes=[Axis(label='x', scale=OrdinalScale(domain=['00:00', '00:30', '01:00', '01…

In [46]:
import teste01

In [47]:
a = teste01.teste()

Tab(children=(Accordion(children=(VBox(children=(Button(description='Plot', style=ButtonStyle()), Figure(anima…

In [129]:
a = np.random.uniform(low=0,high=10,size=(100,1))
b = np.random.uniform(low=0,high=10,size=(1000,1))

In [25]:
fig = bq.Figure(marks=[], axes=[])

NameError: name 'bq' is not defined

In [24]:
x_scale = bq.LinearScale(min=0.5,max=10.5)
x_scale2 = bq.LinearScale(min=0.5, max=10.5)
# x_scale = bq.Scale()
y_scale = bq.LinearScale()
x_axis = bq.Axis(scale=x_scale, label='x')
y_axis = bq.Axis(scale=y_scale, label='y', orientation='vertical')

fig.axes = [x_axis, y_axis]
hist = bq.Hist(sample=a, bins=10,scales={'sample':x_scale, 'count':y_scale})
hist2 = bq.Hist(sample=b, bins=10,scales={'sample':x_scale2, 'count':y_scale})

fig.marks = [hist, hist2]

NameError: name 'bq' is not defined

In [132]:
display(fig)

Figure(axes=[Axis(label='x', scale=LinearScale(max=10.5, min=0.5), side='bottom'), Axis(label='y', orientation…

In [133]:
hist.midpoints

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [134]:
hist2.midpoints

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]